.lead__title{
    font-family: Inter, sans-serif;
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    margin: 0 0 32px;
    max-width: 720px;
    text-align: center;
}    

@media screen and (max-width: 767px) {
    .lead__title{
        max-width: 288px;
        font-family: Inter, sans-serif;
        font-size: 40px;
        font-style: normal;
        font-weight: 900;
        line-height: 44px;
        text-align: center;    
    }
}