.cover__background{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
}

.cover__background:hover{
    background: rgba(0, 0, 0, 0.5);
    transition: 0.7s;
}

@media screen and (max-width: 767px) {
    .cover__background{
        background-size: cover;
    }
}