.cover__title{
    font-family: Inter, sans-serif;
    font-size: 72px;
    font-weight: bold;
    font-style: normal;
    line-height: 76px;
    text-align: center;
    max-width: 560px;
    z-index: 3;
    margin: 0 0 32px;
}