.footer{
    max-width: 1184px;
    margin: 0 auto 24px;
    display: flex;
    justify-content: space-between;
    color: white;
}

@media screen and (max-width: 1279px) {
    .footer{
        max-width: 928px;
    }
}

@media screen and (max-width: 1023px) {
    .footer{
        max-width: 720px;
    }
}

@media screen and (max-width: 767px) {
    .footer{
        display: flex;
        flex-flow: column wrap;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 16px;
        padding-right: 16px;
        max-width: 320px;
    }
}